:root {
  --dark-color: hsla(0, 0%, 0%, 1);
  --orangebold-color: hsla(46, 97%, 50%, 1);
  --light-color: hsla(0, 0%, 100%, 1);
  --graylight-color: hsla(0, 0%, 81%, 1);
  --graymedium-color: hsla(0, 0%, 59%, 1);
  --graydeep-color: hsla(0, 0%, 25%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--graylight-color);
}

body {
}

.sticky-container {
  position: sticky;
  align-items: flex-start;
  top: 0;
}

header {
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  height: fit-content;
  background-color: var(--graylight-color);
  background-size: auto 150px;
  background-attachment: fixed;
  background-position: top -30px center;
  background-repeat: repeat-x;
  background-image: url("../images/reach_down.png");
  justify-content: space-between;
  align-items: flex-end;
}

div .sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

header h1 {
  display: flex;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  align-items: bottom;
  padding-bottom: 16px;
  margin: 0;
  line-height: 0px;
}

header a {
  text-decoration: none;
  color: var(--light-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
  height: auto;
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: bottom;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px 10px;
  font-weight: lighter;
  font-size: 1.75vw;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

header nav ul li a:hover {
  text-decoration: none;
  border-bottom: solid 2px var(--orangebold-color);
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  display: flex;
  flex-wrap: nowrap;
}

.flex-image img {
  max-width: 45%;
}

.flex-item-wide {
  display: flex;
  flex-direction: column;
}

.projects-background {
  margin: 0;
  padding: 0;
  background-color: var(--orangebold-color);
}

.projects-background img {
  flex: 100%;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.projects-container > * {
  display: flex;
  flex-direction: column;
}
.box-big {
  flex: 40%;
}

.box-small {
  flex: 30%;
}

.first-app {
  display: flex;
  flex-direction: row;
}

.other-apps {
  display: flex;
  flex-direction: row;
}

.horiseon .run-buddy .watch-this-space {
  display: flex;
}
